@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  font-family: 'Lato', sans-serif;
  background: #f5f6f7;
  color: #f5f6f7;
  text-align: center;
}

a:link,
a:visited,
a:active {
  font-weight: 600;
  color: #f5f6f7;
  text-decoration: none; }
  a:link:hover,
  a:visited:hover,
  a:active:hover {
    color: #e1e1e1;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s; }

#hero {
  position: relative; }

.hero-block {
  height: 390px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -195px; }

#hero {
  background: #212121; }

#hero i {
	font-size: 60px;
	color: white;
	padding: 18px;
}

#hero .github:hover {
	color: #ee9755;
}

#hero .linkedin:hover {
	color: #ee55ac;
}

#hero .twitter:hover {
	color: #55acee;
}

#hero .mail:hover {
	color: #55ee97;
}
