@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f7;
  color: #f5f6f7;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

a:link,
a:visited,
a:active {
  font-weight: 600;
  color: #f5f6f7;
  text-decoration: none; }
  a:link:hover,
  a:visited:hover,
  a:active:hover {
    color: #e1e1e1;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s; }

#hero {
  position: relative; }

.hero-block {
  height: 390px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -195px; }

#hero {
  background: #1abc9c; }

#hero i {
	font-size: 60px;
	color: white;
	padding: 18px;
}

#hero .github:hover {
	color: #ed6297;
}

#hero .linkedin:hover {
	color: #3b5998;
}

#hero .twitter:hover {
	color: #2094CA;
}

#hero .mail:hover {
	color: #f39c12;
}
